<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <section class="top-bar general-layout">
                        @Html.ActionLink("Home", "Index", "Home", new {id = "home-tag"})
                        <a href="http://www.7cav.us">7th Cavalry</a>
                        <a href="https://github.com/redcrayonn/playerhotlist">Github</a>
                           @using (@Html.BeginForm("SearchResult", "Search"))
                           {
                            <input type="image" src="~/Images/searchicon.png" alt="Search" id="search-submit" />
                               @Html.TextBox("searchString", null, new { id = "search-box", @placeholder = "Search name, B3 etc."})
                                
                           }
                    </section>
                    <nav>
                        <div class="nav-bar general-layout">
                            <ul>
                                <li>@Html.ActionLink("ARMA 3", "Arma", "Home")</li>
                                <li>@Html.ActionLink("ACV", "Aircav", "Home")</li>
                                <li>@Html.ActionLink("CSGO", "Counter", "Home")</li>
                                <li>@Html.ActionLink("SQUAD", "Squad", "Home")</li>
                                <li>@Html.ActionLink("New", "NewHotlistItem", "HotlistItem")</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="content-box general-layout">
                    
                        @RenderBody()
                    </div>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
