@model playerhotlist.Models.Account
@{
    ViewBag.Title = "EditAccount";
}

<h2>EditAccount</h2>

<div class="form-wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name)
        @Html.ValidationMessageFor(m => m.name)
        <br />
        @Html.LabelFor(m => m.password)
        @Html.TextBoxFor(m => m.password)
        @Html.ValidationMessageFor(m => m.password)
        <br />
        @Html.LabelFor(m => m.roleID)
        @Html.TextBoxFor(m => m.roleID)
        <br />
        <input type="submit" value="Update" />
    }
</div>
