@model playerhotlist.Models.Account

<div class="login-container">
    <div class="form-tab-container">
        <div class="form-tab-one">
            <h2>Login</h2>
        </div>
        <a href="@Url.Action("Register", "Account")">
            <div class="form-tab-two">
                <h2>Register</h2>
            </div>
        </a>
    </div>

    <div class="form-wrapper">

        @using (@Html.BeginForm())
        {
            
            @Html.TextBoxFor(m => m.name, new { @placeholder = "Username" })
            
            <br />
            
            @Html.PasswordFor(m => m.password, new { @placeholder = "Password" })
            
            <br />

            <input type="submit" value="Login" />

            @Html.ValidationSummary()
        }
        <br />
        <br />
        <br />
        <p>If you have been redirected here from another page, it means you are not logged in or do not have the neccesary permissions.</p>
    </div>
</div>
