@model playerhotlist.Models.Account

<h2>login</h2>
<div class="form-wrapper">
    @using (@Html.BeginForm())
    {
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name)
        @Html.ValidationMessageFor(m => m.name)
        <br />
        @Html.LabelFor(m => m.password)
        @Html.TextBoxFor(m => m.password)
        @Html.ValidationMessageFor(m => m.password)
        <br />

        <input type="submit" value="Login" />

        @Html.ValidationSummary()
    }
</div>