@model playerhotlist.Models.RegisterModel

<h2>Enter your desired username and password</h2>
<div class="form-wrapper">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name)
        @Html.ValidationMessageFor(m => m.name)
        <br />
        @Html.LabelFor(m => m.password)
        @Html.PasswordFor(m => m.password)
        @Html.ValidationMessageFor(m => m.password)
        <br />
        @Html.LabelFor(m => m.confirmPassword)
        @Html.PasswordFor(m => m.confirmPassword)
        @Html.ValidationMessageFor(m => m.confirmPassword)
        <br />
        <input type="submit" value="Submit" />
    }
</div>