@model playerhotlist.Models.RegisterModel

<div class="login-container">
    <div class="form-tab-container">
        <div class="form-tab-one">
            <h2>Register</h2>
        </div>
        <a href="@Url.Action("Login", "Account")">
            <div class="form-tab-two">
                <h2>Login</h2>
            </div>
        </a>
    </div>

    <div class="form-wrapper">

        @using (@Html.BeginForm())
        {

            @Html.TextBoxFor(m => m.name, new { @placeholder = "Username" })

            <br />

            @Html.PasswordFor(m => m.password, new { @placeholder = "Password" })

            <br />

            @Html.PasswordFor(m => m.confirmPassword, new { @placeholder = "Confirm Password" })
            
            <br />
            
            <input type="submit" value="Register" />

            @Html.ValidationSummary()
        }
        <br />
        <br />
        <br />
        
    </div>
</div>
