@model IEnumerable<playerhotlist.Models.HotlistItem>

<table class="hotlist-content-table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Game", "Aircav", new { sortOrder = "game" })</th>
            <th>@Html.ActionLink("Date", "Aircav", new { sortOrder = "date" })</th>
            <th>@Html.ActionLink("B3 ID", "Aircav", new { sortOrder = "b3Id" })</th>
            <th>@Html.ActionLink("TS3 ID", "Aircav", new { sortOrder = "ts3Id" })</th>
            <th>@Html.ActionLink("Name", "Aircav", new { sortOrder = "name" })</th>
            <th>Reason</th>
            <th>Aliases</th>
            <th>@Html.ActionLink("Status", "Aircav", new { sortOrder = "status" })</th>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        //link for editing/viewing item.
        <tr onclick="location.href = '@(Url.Action("Examine", "HotlistItem", new { id = m.id }))'">
            <td>@m.game</td>
            <td>@m.dateCreated</td>
            <td>@m.b3ID</td>
            <td>@m.teamspeakID</td>
            <td>@m.playerName</td>
            <td>@m.reason</td>
            <td>@m.aliases</td>
            <td>
                @if (m.status == false)
                {

                }
                else
                {
                    <text>Banned</text>
                }
        </td>
    </tr>
    }
</table>

