@model playerhotlist.Models.HotlistItem


<div class="form-wrapper">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(c => c.id);


        @Html.LabelFor(m => m.game)
        @Html.TextBoxFor(m => m.game, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.game)
        <br />
        @Html.LabelFor(m => m.playerName)
        @Html.TextBoxFor(m => m.playerName, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.playerName)
        <br />
        @Html.LabelFor(m => m.aliases)
        @Html.TextBoxFor(m => m.aliases, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.aliases)
        <br />
        @Html.LabelFor(m => m.b3ID)
        @Html.TextBoxFor(m => m.b3ID, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.b3ID)
        <br />
        @Html.LabelFor(m => m.teamspeakID)
        @Html.TextBoxFor(m => m.teamspeakID, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.teamspeakID)
        <br />
        @Html.LabelFor(m => m.reason)
        @Html.TextBoxFor(m => m.reason, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.reason)
        <br />
        @Html.LabelFor(m => m.situation)
        @Html.TextAreaFor(m => m.situation, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.situation)
        <br />
        @Html.LabelFor(m => m.chatlog)
        @Html.TextAreaFor(m => m.chatlog, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.chatlog)
        <br />
        @Html.LabelFor(m => m.creator)
        @Html.TextAreaFor(m => m.creator, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.creator)
        <br />
        @Html.ActionLink("Edit", "EditHotlistItem", new { id3 = @Model.id });
    }
    </div>


